{% extends 'base.html' %}
{% block title %}Add Art Medium{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Add Art Medium...</h1>
<br/><br/>
<!--<div class="mb-3">
    <form method="POST">
       {% csrf_token %}
       {{ form.as_p }}
       <button class="btn btn-secondary">Add Medium</button>
</div>

</form>
-->


<div class="mb-3">
    <form method="POST">
       {% csrf_token %}
       {{ form.as_p}}
       <div class="mb-3">
        <input type="text" class="form-control" name="medium" placeholder="Add Medium"> 

      </div>

      <div class="mb-3">
        
      
       <button class="btn btn-secondary">Add</button>
</div>


{% else %}

Please login to continue ...

{% endif %}

{% endblock %}