{% extends 'base.html' %}
{% block title %}Add Your Constructive Feedback {% endblock %}
{% block content %}


<body>
    <div class="splash-container">
        <div class="splash-content">
            <h1>Welcome to Our Site!</h1>
            <p>Discover the magic...</p>
            <!-- Add any other content or animations here -->
        </div>
    </div>
    <!-- Optional: Link to your JavaScript file for animations -->
    <script src="{% static 'splashpage/js/scripts.js' %}"></script>
</body>


{% endblock %}